
.login_container{
padding: 50px;
}
.form-login{
    max-width: 400px;
}
.login-items{
    width: 100%;
    padding-top:10px; 
}
.mesage-system{
    border: 1px solid #e7e7e7;
    background-color: #FFFFE5;
    
}
.my_panel{
    padding: 20px;
}
.my-panel-title{
    padding: 10px 0;
    font-weight: bold;
}
.my-panel-body{
    padding-bottom: 30px;
    border-bottom: 1px dashed #000;
}
.left{
    float: right;
    margin-right:20px; 
}
.my-panel-bottom{
    padding-top: 20px;
    padding-bottom: 50px;
}
.titleLogin{
	font-weight: bold;
	border-bottom: 1px solid #e7e7e7;
	padding: 10px;

}
.titleLogin h3{
	font-size: 2em;
}
.errMessage{
	/* display: none; */
	color: red;
	text-align: center;
	
}
.inputMessage{
	/* display: none; */
	color: red;
	text-align: left;
	
}
.hiden_items{
	display: none;
}